body {
    background-color: #FFB6C1;
}

h1 {
    text-align: center;
    color: #FF1493;
}

.dino {
    width: 60px;
    height: 60px;
    background: #FF1493;
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background: #9370DB;
}