body {
    background-color: lightpink;
}

h1 {
    text-align: center;
    color: deeppink;
}

.dino {
    width: 60px;
    height: 60px;
    background: deeppink;
    position: absolute;
    bottom: 0;
}